# Environment variables
.env

### Docker ###
/.docker/certbot/logs/
/.docker/nginx/logs/
/.docker/nginx/letsencrypt/
/.docker/nginx/acme-challenge/

### Mantém diretórios ###
!**/.gitkeep

### Visual Studio Code ###
/.vscode/*
/!.vscode/settings.json
/!.vscode/tasks.json
/!.vscode/launch.json
/!.vscode/extensions.json

### Globais ###
/.local
/.history
/.idea
/.cache
/.bash_history
**/*.bak
**/*.swp
**/.DS_store
