version: "3.5"
services:
  server:
    container_name: server
    build:
      context: .docker/server
      dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      - .docker/ssl/certbot-etc:/etc/letsencrypt
      - .docker/ssl/certbot-var:/var/lib/letsencrypt
      - .docker/server/conf.d/:/etc/nginx/conf.d/
      - .docker/server/logs/:/var/log/nginx/
      - ./:/var/www
    depends_on:
      - app
    env_file: .env
    restart: on-failure
    tty: true

  ssl:
    container_name: ssl
    build:
      context: .docker/ssl
      dockerfile: Dockerfile
    volumes:
      - .docker/ssl/certbot-etc:/etc/letsencrypt
      - .docker/ssl/certbot-var:/var/lib/letsencrypt
      - ./public:/var/www/public
    depends_on:
      - server
    command: certonly --webroot --webroot-path=/var/www/public --email dev@agenciaecode.com.br --agree-tos --no-eff-email --staging -d gestor.lojasdomanao.com.br

  app:
    container_name: app
    build:
      context: .docker/app
      dockerfile: Dockerfile
      args:
        - UID=${UID}
        - GID=${GID}
    ports:
      - 9000:9000
    volumes:
      - ./:/var/www
    env_file: .env
    restart: on-failure
    tty: true
